body {
	padding: 0;
	margin: 0;
}
html, body, #map, #side {
	height: 100%;
}

#map {
	position: absolute;
	top: 0;
	left: 352px;
	right: 0;
}
#side {
	position: absolute;
	top: 0;
	left: 0;
	width: 352px;
	overflow-y: auto;
}

#search_objects {
	display: none;
}
#search_option_google {
	display: none;
}

ul {
	margin: 0;
	padding-left: 16px;
}

legend {
	font-weight: bold;
}

form {
	margin: 0;
}

th {
	text-align: left;
}

th, td {
	padding: 0 4px;
}